{% extends 'base.html' %}
{% block title %}
<title>Register - Anonimo</title>
{% endblock title %}
{% block content %}
<section>
  <div class="container">
      <div class="h5" style="font-family: monospace;">SIGN UP NOW</div>
      <div class="h3">Create an account</div>
      <div>Already have an account? <a href="{% url 'login' %}" class="text-white">Sign in</a></div>
      <div class="row">
          <div class="col-sm-6">
              <div>
                  <form action="" method="post" style="margin-top: 15px;">{% csrf_token %}
                    {% for message in messages %}
                    <div class="py-3 text-danger bg-light rounded-top rounded-bottom text-center mb-3" style="font-size: small;font-weight:bold">
                       {{message}}
                    </div>
                    {% endfor %}
                      <div>
                         <div class="row">
                          <div class="col-sm-6">
                            <div>
                              <label for="email">Email Address</label>
                              <input type="email" class="form-control mb-2 rounded-pill" required style="background-color: transparent; color:white" value="{% if request.POST %}{{request.POST.email}}{% endif %}"  name="email">
                           </div>
                          </div>
                          <div class="col-sm-6">
                            <div>
                              <label for="email">Username</label>
                              <input type="text" class="form-control mb-2 rounded-pill" required style="background-color: transparent; color:white" value="{% if request.POST %}{{request.POST.username}}{% endif %}"  name="username">
                           </div>
                          </div>
                         </div>
                         
                          <div>
                              <label for="password">Password</label>
                             <input type="password" class="form-control mb-2 rounded-pill" required minlength="6" style="background-color: transparent; color:white"  name="password">
                          </div>
                      </div>
                      <div>
                          <button type="submit" class="btn btn-sm btn-warning rounded-pill px-3">Log in</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock content %}