{% extends 'base.html' %}
{% block title %}
<title>Reset Password  - Anonimo</title>
{% endblock title %}
{% block content %}

<section>
    <div class="container text-center py-5">
        <div>
            <div class="h5 mb-3">RESET YOUR PASSWORD</div>
        </div>
        {% for message in messages %}
        <div class="py-3 text-danger  rounded-top rounded-bottom text-center mb-3" style="font-size: small;font-weight:bold">
           {{message}}
        </div>
        {% endfor %}
        <div class="mx-auto">
            <form action="{% url 'reset_token_confirmation' %}" method="post">{% csrf_token %}
                <input type="hidden" name="email" id="email">
                <input type="text" name="code" class="form-control w-50 mx-auto text-center mb-3" style="font-weight: bold;letter-spacing: 4px;" placeholder="Enter code">
                <button type="submit" class="btn btn-sm btn-warning">Submit</button>
            </form>
        </div>
    </div>
</section>
<script>
    document.getElementById("email").value = localStorage.getItem("email")
    
</script>

{% endblock content %}